---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="404">
    <div class="py-16 text-center">
        <h1 class="title">404</h1>
        <h2 class="title">NOT FOUND</h2>
    </div>
</Layout>
