---
import type { MarkdownHeading } from "astro";
import Headings from "@components/Headings.astro";

type Props = {
    headings: MarkdownHeading[];
};

const { headings } = Astro.props;
---

<div class="flex flex-col gap-20 xl:flex-row xl:items-start xl:justify-between">
    <Headings headings={headings} />
    <article class="prose-h2:heading prose prose-zinc dark:prose-invert">
        <!--render <Content /> here -->
        <slot />
    </article>
</div>
