---
import { Badge } from "@components/ui/badge";
import { getCollection } from "astro:content";

const data = (await getCollection("carreer")).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf()
);
---

<section class="border-y bg-gradient-to-b from-muted/20 to-muted/10 py-16">
  <div class="container">
    <h1 class="heading text-center">Carreer</h1>
    <p class="subheading text-center">As a Software Developer</p>
    <ol
      class="relative max-w-prose space-y-8 before:absolute before:left-4 before:hidden before:h-full before:border-l before:border-border md:mx-auto md:before:block"
    >
      {/* circle of timeline  */}
      <span
        class="motion-safe:scale-up sticky -left-8 top-1/4 hidden h-8 w-8 items-center justify-center rounded-full bg-primary md:flex"
      ></span>
      {
        data?.map((item) => (
          <li class="motion-safe:fade-left space-y-1 rounded-3xl border bg-background p-6 shadow-sm md:ms-16">
            <time class="block text-sm leading-none text-muted-foreground">
              {item.data.date.toLocaleDateString("en-us", {
                year: "numeric",
                month: "short",
                day: "numeric",
              })}{" "}
              {item.data.dateEnd &&
                " - " +
                  item.data.dateEnd.toLocaleDateString("en-us", {
                    year: "numeric",
                    month: "short",
                    day: "numeric",
                  })}
            </time>

            <div class="inline-flex items-center gap-2">
              <h2 class="flex items-center text-lg font-semibold text-foreground">
                {item.data.title} - {item.data.company}
              </h2>

              <Badge className="motion-safe:scale-up" variant="secondary">
                {item.data.tags}
              </Badge>
            </div>

            <p class="prose b-4 text-muted-foreground dark:prose-invert">
              {item.body}
            </p>
          </li>
        ))
      }
    </ol>
  </div>
</section>
