---
import { getCollection, type CollectionKey } from "astro:content";

type Props = {
  collection: CollectionKey;
};

const { collection } = Astro.props;

const data = (await getCollection(collection)).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf()
);
const { pathname } = Astro.url;
const currPath = pathname.split("/").pop();

const tags = Array.from(new Set(data.flatMap((item) => item.data.tags))).map(
  (tag) => ({ tag })
);
---

<div class="flex items-center">
  <ul class="flex gap-4 md:gap-2 items-center flex-wrap">
    <li>
      <a
        class={`
            h-9 text-sm border rounded-3xl px-4 py-2 relative
            ${currPath === collection && "text-primary-foreground"}
          `}
        href={`/${collection}`}
      >
        All

        {
          /* If the current url path equals to the collection prop (eg: "project", "blog") 
          then render link bg. The collection is typesafe using the type CollectionKey. */
          currPath === collection && (
            <div
              class="absolute rounded-3xl inset-0 bg-primary -z-10"
              transition:name="filter-btn"
            />
          )
        }
      </a>
    </li>

    {
      tags.map((tag) => (
        <li>
          <a
            class={`
              h-9 text-sm border rounded-3xl px-4 py-2 relative
              ${currPath === tag.tag && "text-primary-foreground"}
            `}
            href={`/${collection}/tags/${tag.tag}`}
          >
            {tag.tag}

            {tag.tag === currPath && (
              // TODO: fix z-index issue on transition
              // If the current path match the name of the tag, then render the link bg
              <div
                class="absolute rounded-3xl inset-0 bg-primary -z-10"
                transition:name="filter-btn"
              />
            )}
          </a>
        </li>
      ))
    }
  </ul>
</div>
