---
import { getCollection, type CollectionKey } from "astro:content";
import { X } from "lucide-react";

type Props = {
  collection: CollectionKey;
};

const { collection } = Astro.props;

const data = (await getCollection(collection)).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf()
);
const { pathname } = Astro.url;
const currPath = pathname.split("/").pop();

const tags = Array.from(new Set(data.flatMap((item) => item.data.tags))).map(
  (tag) => ({ tag })
);
---

<div class="flex items-center">
  <ul class="flex gap-4 md:gap-2 items-center flex-wrap">
    {
      tags.map((tag) => (
        <li>
          <a
            class={`
              h-9 text-sm border rounded-3xl px-4 py-2 relative
              ${currPath === tag.tag && "text-primary-foreground"}
            `}
            href={`/${collection}/tags/${tag.tag}`}
          >
            {tag.tag}
            {tag.tag === currPath && (
              // TODO: fix z-index issue on transition
              <div
                class="absolute rounded-3xl inset-0 bg-primary -z-10"
                transition:name="filter-btn"
              />
            )}
          </a>
        </li>
      ))
    }

    <li>
      <a
        class="h-9 px-4 py-2 gap-1 text-sm flex items-center bg-secondary text-secondary-foreground rounded-3xl"
        href={`/${collection}`}
      >
        <X className="h-4 w-4" />
        <span> Clear filters </span>
      </a>
    </li>
  </ul>
</div>
