---
import { Github } from "lucide-react";
---

<footer class="py-16 px-8 border-t mt-auto flex justify-between">
  <p>contact@jordancortes.dev</p>

  <a target="_blank" href="https://github.com/Jaycedam">
    <Github />
    <span class="sr-only">GitHub</span>
  </a>
</footer>
