---

---

<footer class="mt-auto flex justify-end border-t px-8 py-16">
    <a target="_blank" href="https://github.com/Jaycedam">
        GitHub
        <span class="sr-only">GitHub</span>
    </a>
</footer>
