---
import type { HTMLAttributes } from "astro/types";
type Props = HTMLAttributes<"a">;

const { href, ...props } = Astro.props;

const { pathname } = Astro.url;
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === "/" + subpath?.[0];
---

<div class="relative isolate items-center grid">
  <a
    href={href}
    class={`px-4 py-2 text-sm font-bold  ${isActive ? "text-primary-foreground" : "text-muted-foreground hover:text-foreground"}`}
    {...props}
  >
    <slot />
  </a>

  {
    // ERROR: bg for link is behind the nav when animating, ignoring the z index
    isActive && (
      <div
        transition:name="nav-bg"
        class="absolute inset-0 -z-10 rounded-3xl bg-primary"
      />
    )
  }
</div>
