---
import type { HTMLAttributes } from "astro/types";
type Props = HTMLAttributes<"a">;

const { href, ...props } = Astro.props;

const { pathname } = Astro.url;
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === "/" + subpath?.[0];
---

<div class="relative isolate grid h-16 items-center">
    <a
        href={href}
        class={`text-sm ${isActive ? "text-primary" : "text-muted-foreground hover:text-foreground"}`}
        {...props}
    >
        <slot />
    </a>
</div>
