---
import Link from "@ui/Link.astro";
import ArrowRightIcon from "@assets/icons/arrow-right.svg";
---

<section>
    <div class="mt-16 flex flex-col items-start justify-center gap-8 md:mt-36">
        <!--text-->
        <div class="space-y-2">
            <p class="animate-fade font-bold text-muted-foreground">
                // Hello, world.
            </p>
            <h1 class="title animate-fade-up-500">
                I'm Jordan Cortés, a
                <span
                    class="animate-gradient bg-gradient-to-r from-orange-400 via-fuchsia-400 to-blue-400 bg-clip-text text-transparent"
                    >Software Developer
                </span>
                who believes in the power of simplicity;
                <span class="text-muted-foreground"
                    >reflected in my setup and the code I write.</span
                >
            </h1>
        </div>

        <!--call to action-->
        <div
            class="flex w-full flex-col gap-8 sm:flex-row sm:items-center sm:justify-between"
        >
            <div class="flex gap-4">
                <Link
                    variant="outline"
                    size="lg"
                    href="https://github.com/Jaycedam"
                >
                    GitHub
                </Link>

                <Link
                    class="group space-x-2"
                    href={"mailto:" + import.meta.env.EMAIL}
                    size="lg"
                >
                    <span>Contact</span>
                    <ArrowRightIcon
                        class="transition-transform group-hover:translate-x-2"
                        size={20}
                    />
                </Link>
            </div>

            <p class="font-light text-muted-foreground">
                My previous career was focused on Motion Graphics. You can see
                my work on
                <a
                    class="text-primary"
                    target="_blank"
                    href="https://dribbble.com/jaycedam">Dribbble.</a
                >
            </p>
        </div>
    </div>
</section>
