---
import { Image } from "astro:assets";
import hero from "@assets/profile.webp";
import Link from "@ui/Link.astro";
---

<section>
    <div class="container flex flex-col items-center justify-center gap-8">
        {/* graphic for hero  */}
        <div class="relative">
            <p
                class="absolute -right-16 -top-4 z-10 whitespace-nowrap rounded-3xl bg-foreground/10 p-4 font-black text-foreground shadow backdrop-blur"
            >
                {"// Hello, World."}
            </p>

            <Image
                alt=""
                width={500}
                height={500}
                src={hero}
                class="max-w-[250px] rounded-full"
                loading="eager"
                format="avif"
                quality="high"
            />
        </div>

        <div class="animate-fade-up-500 space-y-12 text-center">
            <div class="space-y-2">
                <h1
                    class="text-5xl font-black tracking-tight md:text-7xl lg:text-8xl"
                >
                    Jordan Cortés
                    <br />
                    Software{" "}
                    <strong
                        class="animate-gradient bg-gradient-to-r from-orange-400 via-fuchsia-400 to-blue-400 bg-clip-text text-transparent"
                    >
                        Dev.
                    </strong>
                </h1>

                <h2 class="prose text-xl text-muted-foreground">
                    Currently focused on full stack web development (Next.js,
                    Typescript, Astro)
                </h2>
            </div>

            <!--todo add scroll animation -->
            <Link href={"mailto:" + import.meta.env.EMAIL} size="lg">
                Contact
            </Link>
        </div>
    </div>
</section>
