---
import type { Navlinks } from "@lib/types";
import ThemeToggle from "@components/ThemeToggle.astro";
import HeaderLink from "@components/HeaderLink.astro";
import Link from "@ui/Link.astro";
import EmailIcon from "@assets/icons/email.svg";
import Logo from "@assets/icons/logo.svg";

const navLinks: Navlinks[] = [
    {
        href: "/",
        label: "HOME",
    },
    {
        href: "/projects",
        label: "PROJECTS",
    },
    {
        href: "/blog",
        label: "BLOG",
    },
];
---

<header class="flex h-16 items-center justify-between px-1 sm:px-2 md:px-4">
    <nav>
        <ul class="flex items-center sm:gap-4">
            <li class="hidden sm:block">
                <a class="px-4 py-2" href="/">
                    <Logo size={35} />
                    <p class="sr-only">Logo</p>
                </a>
            </li>
            {
                navLinks.map((link) => (
                    <li>
                        <HeaderLink href={link.href}>{link.label}</HeaderLink>
                    </li>
                ))
            }
        </ul>
    </nav>

    <ul class="flex gap-2 sm:gap-4">
        <li>
            <ThemeToggle transition:persist />
        </li>
        <li>
            <Link size="icon" href={"mailto:" + import.meta.env.EMAIL}>
                <EmailIcon size={18} />
            </Link>
        </li>
    </ul>
</header>
