---
import type { Project } from "@lib/types";
import { Image } from "astro:assets";
import placeholder from "@assets/projects/placeholder.webp";

type Props = {
    item: Project;
};

const { item } = Astro.props;
---

<a
    href={`/projects/${item.id}`}
    class="w-full rounded-3xl border bg-gradient-to-tr from-zinc-50 to-zinc-100 transition-transform duration-300 hover:scale-[102%] dark:from-zinc-950 dark:to-zinc-900"
>
    <!--text-->
    <div class="space-y-4 p-8">
        <div>
            <p transition:name={"project-area" + item.id} class="subheading">
                {item.data.area}
            </p>
            <h2 transition:name={"project-title" + item.id} class="heading">
                {item.data.title}
            </h2>
        </div>
        <p transition:name={"project-desc" + item.id} class="font-light">
            {item.data.description}
        </p>
    </div>

    <Image
        src={item.data.image ? item.data.image : placeholder}
        alt=""
        class="aspect-video w-full rounded-3xl object-cover"
        transition:name={"project-image" + item.id}
        format="avif"
        widths={[640, 768, 1024, 1500]}
        sizes={`
                    (max-width: 640px) 640px, 
                    (max-width: 768px) 768px, 
                    (max-width: 1024px) 1024px, 
                    (max-width: 1280px) 1500px`}
    />
    <span class="sr-only">Project details</span>
</a>
