---
import FilterByTag from "@components/FilterByTag.astro";
import { filterProjectByTag, getProjects } from "@lib/project-collection";
import ProjectCard from "@components/ProjectCard.astro";
import Link from "@ui/Link.astro";

const { homepage, filter, title } = Astro.props;

type Props = {
    homepage: boolean;
    title: string;
    // filter by tag
    filter?: string;
};

let data = await getProjects(homepage);

// if a filter is passed as prop, then filter
if (filter) {
    data = filterProjectByTag(data, filter);
}
---

<section id="projects" class="space-y-8">
    <h1 class={homepage ? "heading" : "title"}>
        {title}
        {filter && <span class="text-xl text-muted-foreground">{filter}</span>}
    </h1>

    {!homepage && <FilterByTag collection="projects" />}

    <div class="grid gap-8 md:grid-cols-2">
        {data.map((project) => <ProjectCard item={project} />)}
    </div>

    <!--if this component is rendered on the homepage, then render the link to all projects-->
    {
        homepage && (
            <div class="grid justify-end">
                <Link variant="outline" size="lg" href="/projects">
                    All projects
                </Link>
            </div>
        )
    }
</section>
