---
import { Image } from "astro:assets";
import Layout from "@layouts/Layout.astro";
import { type CollectionEntry, getCollection } from "astro:content";
import "@fontsource-variable/jetbrains-mono"; // font
import { render } from "astro:content";
import Article from "@components/Article.astro";
import Tags from "@components/Tags.astro";
import placeholder from "@assets/projects/placeholder.webp";

export async function getStaticPaths() {
    const item = await getCollection("projects");
    const paths = item.map((item) => ({
        params: { id: item.id },
        props: item,
    }));

    return paths;
}
type Props = CollectionEntry<"projects">;

const item = Astro.props;

const { Content } = await render(item);
---

<Layout title={item.data.title + "| JC Portfolio"}>
    <section class="mx-auto max-w-4xl space-y-8">
        <!--header title-->
        <div class="space-y-4">
            <div>
                <p transition:name={"project-area" + item.id} class="subtitle">
                    {item.data.area}
                </p>
                <h1 transition:name={"project-title" + item.id} class="title">
                    {item.data.title}
                </h1>
            </div>

            <p transition:name={"project-desc" + item.id} class="font-light">
                {item.data.description}
            </p>

            <!--tags-->
            <Tags tags={item.data.tags} type="projects" />
        </div>

        <!--image-->
        <div
            class="rounded-3xl bg-gradient-to-tr from-zinc-50 to-zinc-100 dark:from-zinc-950 dark:to-zinc-900"
        >
            <Image
                src={item.data.image ? item.data.image : placeholder}
                alt=""
                class="aspect-video w-full rounded-3xl object-cover"
                transition:name={"project-image" + item.id}
                loading="eager"
                format="avif"
                widths={[640, 768, 1024, 1500]}
                sizes={`
                    (max-width: 640px) 640px, 
                    (max-width: 768px) 768px, 
                    (max-width: 1024px) 1024px, 
                    (max-width: 1280px) 1500px`}
            />
        </div>
    </section>

    <Article>
        <Content />
    </Article>
</Layout>
